.env.local
node_modules
.next/cache/webpack/client-development/*.pack.gz
.next/cache/webpack/client-development/*.pack
.next/cache/webpack/client-development-fallback/*.pack.gz
.next/cache/webpack/server-development/*.pack.gz
.next/cache/webpack/server-production/*.pack